{
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 80,
    "endOfLine": "auto",
    "jsxBracketSameLine": false
}
